
body {
  text-align: center;
  margin: 20% 5%;
  background: url('assets/freedom-and-happiness.jpg') no-repeat center center fixed;
}

h1 {
  font: Cambria;
  text-transform: 
}

p {
  font: Verdana;
  font-style: italic;
}

p {
  
}

h1 {
  font-family: Helvetica, sans-serif;
  text-transform: uppercase;
}
